.text-field {
    -fx-background-color: transparent;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 2 0;
}

.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 2 0;
}

.password-field{
    -fx-background-color: transparent;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 2 0;
}

.button{
    -fx-border-radius: 25px;
    -fx-background-color: lightgrey;
}